name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
#           - beta
#           - nightly

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup
      run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      # run: docker-compose run
      # run: docker exec homepage-api
      # run: diesel-cli

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    # -----------------------
    # Docker
    # -----------------------
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        context: .
        tags: user/app:latest

  # deploy:
  #   meeds: build
  #   runs-on: ubuntu-latest

  #   steps:
        # name: Send docker-compose.yml to a server.

        # name: Log in to a server.

        # name: Exec docker-compose.yml
