name: Rust

on:
  push:
    branches: [ "cache-container" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # -----------------------
    # Docker
    # -----------------------
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ github.ref }}-${{ github.sha }}
        restore-keys: |
          ${{ github.ref }}
          refs/head/main
        
    # - name: Build and push
    #   uses: docker/build-push-action@v3
    #   with:
    #     push: true
    #     context: .
    #     tags: user/app:latest

    - name: Build images
      uses: docker/build-push-action@v3
      with:
        push: false
        builder: ${{ steps.buildx.outputs.name }}
        tags: test:latest
        load: true
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new

    - name: docker compose up
      run: |
        mkdir -p /tmp/.composer-cache
        docker compose -f docker-compose.yml build
        docker compose -f docker-compose.yml up -d

    # -----------------------
    # Rust
    # -----------------------
    - name: Install Python
      uses: actions/setup-python@v2

    - name: Restore mtime
      run: python ./git-restore-mtime.py

    - name: Cache Rust
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Setup
      run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

    - name: Build
      run: cargo build --verbose

    # -----------------------
    # Teardown
    # -----------------------
    - name: Move cache 
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
