name: send_file

on:
  workflow_run:
    workflows: ["create_artifacts"]
    types: 
      - completed
    branches:  
      - send_file

jobs:
  send_file:

    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download artifacts
      uses: actions/download-artifact@v3
      id: test
      with:
        name: my-artifacts
        path: path/to/artifacts

    - name: Confirm copied file
      run: |
        echo "File path: "
        echo ${{ steps.test.outputs.download-path }}
        echo "ls file path: "
        ls -la  ${{ steps.test.outputs.download-path }}
        echo "File content : "
        cat ${{ steps.test.outputs.download-path }}/world.txt

    - name: Copy file via ssh password
      uses: lBeJIuk/scp_action@v1
      with:
        public_key: ${{ secrets.KEY }}
        ssh_port: 22
        ssh_username: ${{ secrets.DEST_USER }}
        ssh_host: ${{ secrets.DEST_IP }}
        source: ${{ steps.test.outputs.download-path }}/world.txt
        target: ${{ secrets.DEST_DIR }}