name: send_file

on:
  push:
    branches: [ "exec_command" ]

env:
  PATH_TO_ARTIFACT: path/to/artifact/artifact
  TAR_FILE_NAME: artifact.tar
  FILE_NAME: world.txt

jobs:
  create_artifact:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Create artifact
      run: |
        mkdir -p ${{ env.PATH_TO_ARTIFACT }}
        echo hello2 > ${{ env.PATH_TO_ARTIFACT }}/${{ env.FILE_NAME}}

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: my-artifact
        path: ${{ env.PATH_TO_ARTIFACT }}/${{ env.FILE_NAME}}

  send_artifact:
    
    needs: create_artifact
    runs-on: ubuntu-latest

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v3
      id: test
      with:
        name: my-artifact
        path: ${{ env.PATH_TO_ARTIFACT }}

    - name: Show artifact
      run: |
        echo "File path: "
        echo ${{ steps.test.outputs.download-path }}
        echo "ls file path: "
        ls -la  ${{ steps.test.outputs.download-path }}
        echo "File content : " 
        cat ${{ steps.test.outputs.download-path }}/${{ env.FILE_NAME}}

    - name: Compress artifact
      run: tar -cvf ${{ env.TAR_FILE_NAME }} ${{ steps.test.outputs.download-path }}

    - name: Generate private key
      run: | 
        echo "${{ secrets.KEY }}" > ${{ runner.temp }}/key
        chmod 700 ${{ runner.temp }}/key

    - name: Send artifact
      run: |
        scp -o StrictHostKeyChecking=no \
            -o UserKnownHostsFile=/dev/null \
            -i ${{ runner.temp }}/key \
            -P 22 \
            ${{ env.TAR_FILE_NAME }} \
            ${{ secrets.DEST_USER }}@${{ secrets.DEST_IP }}:${{ secrets.DEST_DIR }}

  run_app:

    needs: send_artifact
    runs-on: ubuntu-latest

    steps:
    - name: Generate ssh private key
      uses: shimataro/ssh-key-action@v2
      with: 
        key: ${{ secrets.KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
          
    - name: Decompress artifact
      run: |
        ls -la ~/.ssh
        ssh \
          -t ${{ secrets.DEST_USER }}@${{ secrets.DEST_IP }}
          -p 22 \
          -o StrictHostKeyChecking=no \
          -o ConnectTimeout=5 \
          "
            tar -xvf ${{ env.TAR_FILE_NAME }} && \
            ls -la                            && \
            cat ${{ env.FILE_NAME}}
          "