name: send_file

on:
  push:
    branches: [ "exec_command" ]

env:
  PATH_TO_ARTIFACTS: ${{ runner.temp }}/artifacts
  TAR_FILE_NAME: artifacts.tar

jobs:
  create_artifacts:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Create artifacts
      run: |
        mkdir -p ${{ env.PATH_TO_ARTIFACTS }}
        echo hello2 > ${{ env.PATH_TO_ARTIFACTS }}/world.txt

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: my-artifacts
        path: ${{ env.PATH_TO_ARTIFACTS }}/world.txt

  send_artifacts:
    
    needs: create_artifacts
    runs-on: ubuntu-latest

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v3
      id: test
      with:
        name: my-artifacts
        path: ${{ env.PATH_TO_ARTIFACTS }}

    - name: Confirm artifacts
      run: |
        echo "File path: "
        echo ${{ steps.test.outputs.download-path }}
        echo "ls file path: "
        ls -la  ${{ steps.test.outputs.download-path }}
        echo "File content : " 
        cat ${{ steps.test.outputs.download-path }}/world.txt

    - name: Compress artifacts
      run: tar -cvf ${{ env.TAR_FILE_NAME }} ${{ steps.test.outputs.download-path }}

    # - name: Send artifacts
    #   uses: lBeJIuk/scp_action@v1
    #   with:
    #     public_key: ${{ secrets.KEY }}
    #     ssh_port: 22
    #     ssh_username: ${{ secrets.DEST_USER }}
    #     ssh_host: ${{ secrets.DEST_IP }}
    #     source: ${{ env.TAR_FILE_NAME }}
    #     target: ${{ secrets.DEST_DIR }}

    - name: Generate private key
      run: | 
        echo "${{ secrets.KEY }}" > ${{ runner.temp }}/key
        chmod 600 ${{ runner.temp }}/key

    - name: Send artifacts
      run: |
        scp -i ${{ runner.temp }}/key -P 22 \
            ${{ env.TAR_FILE_NAME }} \
            ${{ secrets.DEST_USER }}@${{ secrets.DEST_IP }}:${{ secrets.DEST_DIR }}